{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier/skip-formatting"
  ],
  "rules": {
    "prettier/prettier": 1,
    "no-console": 0,
    "import/extensions": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "vue/multi-word-component-names": 0
  }
}
